button{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.btns{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    row-gap: 10px;
}